name: Python package

on:
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.11", "3.12", "3.13"]

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        virtualenvs-create: true
        virtualenvs-in-project: true

    - name: Verify Poetry installation
      shell: bash
      run: poetry --version

    - name: Load cached venv
      id: cached-poetry-dependencies
      uses: actions/cache@v5
      with:
        path: .venv
        key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}

    - name: Install dependencies
      if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
      shell: bash
      run: poetry install --no-interaction --no-root

    - name: Install project
      shell: bash
      run: poetry install --no-interaction

    - name: Run linters
      shell: bash
      run: poetry run pre-commit run --all-files

    - name: Run tests
      shell: bash
      run: poetry run pytest -s

    - name: Generate coverage report
      shell: bash
      run: poetry run pytest --cov-report lcov --cov=pitaeeg -s --runslow

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.11'
      with:
        files: ./lcov.info
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
